[buildout]
parts =
    python
    test
    packages
eggs = experimental.broken [registry]
develop = .

[python]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
    experimental.broken [test]

[packages]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
packages = ./
