[buildout]
parts =
    python
    test
eggs = experimental.brokeninterfaces
develop = .

[python]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
    experimental.brokeninterfaces [test]
